<head>
  <title>LP Software Consulting</title>
  <!-- <link href="styles.css" rel="stylesheet" type="text/css"> -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="https://use.fontawesome.com/d2a4a2be39.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        
</head>
<body>
  <div class="background-image">
    <nav class="home-navigation">
      <ul class="navigation-links">
        <li class="navigation-item home-item">
          <a class="nav-links" href="/">
            <div style="background:orange;width:50px;height:50px;margin-left:45%;border-radius:100px" class="b-ball2">
              <div style="width:5%;height:100%;background:black;margin-left:47.5%"></div>
              <div style="width:100%;height:5%;background:black;position:relative;top:-47.5%;"></div>
              <div style="width: 70%;height: 66%;background: none;position:relative;top: -88.0%;border-left-color: black;border-left-style: solid;left: 60%;border-radius: 50px;b;border-width: 6px;"></div>
              <div style="width: 70%;height: 66%;background: none;position:relative;top: -152%;border-right-color: black;border-right-style: solid;left: -30%;border-radius: 50px;b;border-width: 6px;"></div>

            </div>
          </a>
        </li>
        <li class="navigation-item">
          <a class="nav-links" href="#about-us">About Us</a>
        </li>
        <li class="navigation-item">
          <a class="nav-links" href="#what-we-do">What we do</a>
        </li>
        <li class="navigation-item">
          <a class="nav-links" href="#tech-we-use">Technolgies We Use</a>
        </li>
      </ul>
    </nav>
   <!--  <div class="offset-1"></div> -->
    <div class="slog-desc">
    </div>
     <!-- <div class="offset-2"></div> -->
    <div class="slog-desc" id="lp-landing">
      <span class="slogan-descript"></span><br>
      <span class="slogan-descript">Lokesh's Projects</span><br><br>
      <div class="pca-hold">
        <div class="pca-main">
          <div class="pca-inner">
          </div><!-- 'pca-inner' -->
        </div><!-- 'pca-main' -->
        <div class="pca-sub">
          <div class="pca-top"></div>
          <div class="pca-mid">
            <div class="pca-part"></div>
          </div><!-- 'pca-mid' -->
          <div class="pca-bot"></div>
      </div><!-- 'pca-bot' -->
      </div>
     <!--  <span class="slogan-descript-2">Creative Developer & Baller</span> -->
    </div>
  </div>


  <div class="container">

    <!-- ********************** -->
    <!-- LP Software Consulting Inc. -->
    <!-- ********************** -->

   
    <div class="offset-2"></div>

    <h1 class="center-header">LP Software Consulting Inc.</h1>
    <div class="row descript" id="about-us">
      <div class="col-sm-12">
        <h4 class="center-header"><a href="http://www.lpsoftwareconsulting.com">www.lpsoftwareconsulting.com</a></h4>
        <div class="descript-text">
         LP software consulting is a company I founded in July 2017 and have successfully completed a client contract as well which lasted 2 months. Free to browse around the site
        </div>
      </div>

    </div>

    <!-- ********************** -->
    <!-- Print-a-Pal -->
    <!-- ********************** -->

    <div class="offset-2" style="border-bottom:solid"></div>
    <div class="offset-2"></div>

    <h1 class="center-header">Print-a-pal</h1>
    <div class="row descript" id="about-us">
      <div class="col-sm-12">
        <h4 class="center-header"><a href="http://www.printapal.com">www.printapal.com</a></h4>
        <div class="descript-text">
        Print-a-pal is a personal project of mine that allows you to draw 3D shapes using 2D bezier curves. These 3D shapes then can be converted into an STL file which can later be 3D printed at any STL compatible 3D printer.
        </div>
      </div>

    </div>


    

    <!-- Bincity -->
    <!-- Bincity -->
    <!-- Bincity -->

    <div class="offset-2" style="border-bottom:solid"></div>
    <div class="offset-2"></div>

    <h1 class="center-header">Bincity</h1>
    <div class="row descript" id="about-us">
      <div class="col-sm-12">
        <h4 class="center-header"><a href="http://bin-city.com/">www.bin-city.com</a></h4>
        <div class="descript-text">
         My role at bincity was a frontend developer. The frontend framework I was working with KnockoutJS that was connecting to a Laravel (PHP framework) based API. My time there has taught me a lot on frontend development, from developing complicated UI elements such as sliders, carasouels, etc and also working with mapboxJS to create map markers as well. Take a look at the some of the UI I developed.
        </div>
      </div>

      <div class="col-sm-12">
        <div class="left-arrow-1">
          <i class="fa fa-angle-left fa-5x" aria-hidden="true"></i>
        </div>
        <div class="portfolio-1">
          <div class="scroller">

            <div class="col-sm-4">
              <img class="slider-images" src="images/macbook_bincity_image.png" alt="ruby on rails icon" width="40%" height="250%">
            </div>

             <div class="col-sm-4">
              <img class="slider-images" src="images/ipad_bincity_image.png" alt="ruby on rails icon" width="40%" height="250%">
            </div>

             <div class="col-sm-4">
              <img class="slider-images" src="images/macbook_bincity_image2.png" alt="ruby on rails icon" width="40%" height="250%">
            </div>


          </div>
         
        </div>
         <div class="right-arrow-1">
            <i class="fa fa-angle-right fa-5x" aria-hidden="true"></i>
          </div>
      </div>
    </div>

    <!-- ********** -->
    <!-- Eventastic -->
    <!-- ********** -->

    <div class="offset-2" style="border-bottom:solid"></div>
    <div class="offset-2"></div>


    <h1 class="center-header">Eventastic</h1>
    <div class="row descript" id="about-us">
      <div class="col-sm-12">
        <h4 class="center-header"><a href="http://eventastic.com/">www.eventastic.com</a></h4>
        <div class="descript-text">
         Eventastic is an online ticketing platform. My Role at Eventastic was a Full Stack Developer working with Ruby on Rails and Heroku for hosting. I have developed and deployed many features and products with my time here. From adding and maintaining the eCommerce backend, integrating strip payment, setting up background workers for delayed jobs and handling bug fixes, I immersived myself throughout the system. I developed mostly for the web platform but I also developed a barcode scanner app for tickets using Phonegap. Feel free to take a look at my body of work while I was there.
        </div>
      </div>

      <div class="col-sm-12">
        <div class="left-arrow-2">
          <i class="fa fa-angle-left fa-5x" aria-hidden="true"></i>
        </div>
        <div class="portfolio-2">
          <div class="scroller-2">

            <div class="col-sm-3">
              <img class="slider-images" src="images/iphone_event_1.png" alt="ruby on rails icon" width="40%" height="100%">
            </div>

             <div class="col-sm-3">
              <img class="slider-images" src="images/iphone_event_2.png" alt="ruby on rails icon" width="40%" height="100%">
            </div>

             <div class="col-sm-3">
              <img class="slider-images" src="images/iphone_event_3.png" alt="ruby on rails icon" width="40%" height="100%">
            </div>

             <div class="col-sm-3">
              <img class="slider-images" src="images/mac_event_4.png" alt="ruby on rails icon" width="60%" height="200%">
            </div>


          </div>
         
        </div>
         <div class="right-arrow-2">
            <i class="fa fa-angle-right fa-5x" aria-hidden="true"></i>
          </div>
      </div>
    </div>





    <div class="offset-2" style="border-bottom:solid"></div>
    <div class="offset-2"></div>

   
  </div>

  <footer>
    <div class="container">
        <!--FOOTER DETAILS-->
        <p class="text-center">
            © 2017 <strong>Lokesh Podipireddy</strong>
        </p>
    </div>
</footer>
</body>
<script>
var scroll_x = 0

$('.submit').click( function() {
  var name = $('#name-homepage').val() 
  var email = $('#email-homepage').val() 
  var message = $('.email-message').val() 
  var captcha_response = $('.g-recaptcha-response').val()
  $.ajax({
    type: "POST",
    data: {name: name, email: email, message: message, g_response: captcha_response},
    url: "/send_email",
    success: function(msg){
      alert(msg["message"]);
    }
  });
})


$('.right-arrow-1').click( function() {
  scroll_x = scroll_x + 1000;
  $(".portfolio-1").animate({
      scrollLeft: scroll_x
    }, 2000);
})

$('.left-arrow-1').click( function() {
  scroll_x = scroll_x - 1000;
  $(".portfolio-1").animate({
      scrollLeft: scroll_x
    }, 2000);
})

$('.right-arrow-2').click( function() {
  scroll_x = scroll_x + 1000;
  $(".portfolio-2").animate({
      scrollLeft: scroll_x
    }, 2000);
})

$('.left-arrow-2').click( function() {
  scroll_x = scroll_x - 1000;
  $(".portfolio-2").animate({
      scrollLeft: scroll_x
    }, 2000);
})
</script>