
.background-image{
   height: 600px;
   background-size: cover;
   background: #00e676;
}

.background2{
    background: #333333;
    height: 400px;
    background-size: cover;
}
body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
.home-navigation{
  background-color: #00b248;
  padding: 1% 0%;
}
.navigation-links{
      margin: 0px;
}
.home-item{
  margin-top: 0% ! important;
}
.navigation-item{
  margin: 0px 30px;
  /*padding: 15px;*/
  display: inline-block;
  vertical-align: top;
  margin-top: 1%;
}
.navigation-item-login{
  margin: 0px 35% 0% 0%;
  padding: 15px;
  display: inline-block;
}
.nav-links{
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.slogan{
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 1%;
    border-style: solid;
    border-radius: 20px;
    border-width: thin;
    width: 30%;
}
.slogan-descript{
    font-size: 72px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 3% 0%;
}

/*a:hover { 
    color: white;
    border:solid white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}*/

.slogan-descript-2{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 3% 0%;
}
.slog-desc{
  text-align: center;
}

.offset-1 {
    height: 50px;
}
.offset-2 {
    height: 40px;
}
.intro-descript{
  font-size: 28px;
  padding: 4% 10%;
  text-align: center;
}

.company-info{
  position: absolute;
  top: 40px;
}

.work-descript{
  font-size: 24px;
  padding: 4% 10%;
  text-align: center;
}
.descript{
  text-align: center;
  padding: 1% 0%;
}
.descript-text{
  font-size:20px;
  padding: 30px 0px 0px 0px;
  font-weight: 100;
}

.center-header{
  text-align: center;
}
.profile-pic{
  height: 250px;
  width: 250px;
  border-radius: 150px; 
}
.experience{
  width:100%;
}
.your-class{
  color:white;
}

.fa-5x{
  color:#333333;
}

$gray: #dddddd;
h1,
h2,
h3 {
  font-weight: 300;
}

.container {
  padding: 1em;
}


.portfolio-1, .portfolio-2{
  height: 400px;
  text-align: center;
  overflow: hidden;
  width: 90%;
  display: inline-block;
}

.left-arrow-1, .right-arrow-1, .left-arrow-2, .right-arrow-2 {
  width: 4%;
  display: inline-block;
  height: 250px;   
  vertical-align: bottom;
}

span.slogan-descript-2 {
    font-size: 18px;
    color: white;
}

.tiles{
  margin:5% 10%;
  display: inline-block;
  float: left;
  /*background-color: gray;*/
  color: white;
  border-radius:20px;
  width:150px;
  height: 150px;
  text-align: center;
  font-size: 20px;
  position: relative;

}

.tiles-front{
  width: 100%;
  background-size: 100%;
  background-color: #f50057;
  background-repeat: no-repeat;
  border-radius: 40px;
  padding: 10px;
  height: 150px;
}

.command-wear{
  background-image: url(../images/commandwear.png);
}

.print-a-pal{
  background-image: url(../images/print2_white.png);
  background-position-y: 40px;
}

.tiles-back{
  background: #ff5983;
  width:100%;
  border-radius: 40px;
  padding: 10px;
  height: 150px;

}

.tiles-text{
   vertical-align:middle; 
   display: block;  
   line-height: 250px; 
   visibility: hidden;
}

.right-arrow:hover {
  cursor: pointer;
}



/* entire container, keeps perspective */
.tiles {
  perspective: 1000px;
}
  /* flip the pane when hovered */
  .tiles:hover .tile-flipper, .tiles.hover .tile-flipper {
    transform: rotateY(180deg);
  }

/* flip speed goes here */
.tile-flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.tiles-front, .tiles-back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.tiles-front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.tiles-back {
  transform: rotateY(180deg);
}

@media screen and (min-width: 40em) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .timeline {
    &:before {
      left: 50%;
    }
    ul {
      padding-left: 0;
      max-width: 700px;
      margin: 0 auto;
    }
    li {
      width: 42%;
    }
    li:nth-child(even) {
      float: right;
      margin-top: 2em;
    }
    li:nth-child(odd) {
      float: left;
      &:before {
        border-top: 1em solid $gray;
        border-right: 1em solid transparent;
        right: -1em;
        left: auto;
      }
    }
    li:nth-of-type(2n+1) {
      clear: both;
    }
  }
}

.email-contact{
  padding:2% 0%;

}

.email-contact > input, 
  .email-contact > textarea{
  width:80%;
  font-size:30px;
  border-radius: 10px;
  border-style: solid;
  padding: 1%;
}

.submit{
  width: 30%;
  background: #00b248;
  color: #ffffff;
  border-radius: 20px;
  font-size: 30px;
  padding: 1%;
  border-style: none;
}

.email-recaptcha {
  padding: 0 35%;
}
.logo-center {
  border: solid;
  padding: 0 10px;
  border-radius: 20px;
}

.logo-nav {
  border: solid;
  padding: 10px 10px;
  border-radius: 10px;
}

.scroller {
  width: 3000px; 
  height: 100%;
}

.scroller-2 {
  width: 4000px; 
  height: 100%;
}

.slider-images {
  margin-top: 4%;
  margin-right: 20%;
}

.pca-hold {
  width: 300px;
  margin: 0% 35%;
}
.pca-hold .pca-main {
  display: block;
  position: relative;
  background-color: #c8c8c8;
  height: 180px;
  border: 10.8px solid #2d2d2d;
  border-top-left-radius: 7.2px;
  border-top-right-radius: 7.2px;
}
.pca-hold .pca-main:after {
  content: '';
  position: absolute;
  top: -8.9px;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
  width: 5.7px;
  height: 5.7px;
  background-color: #959595;
  border-radius: 100%;
}
.pca-hold .pca-main:before {
  content: '';
  opacity: 0;
}
.pca-hold .pca-inner {
  display: block;
}
.pca-hold .pca-sub {
  display: block;
  text-align: center;
}
.pca-hold .pca-sub .pca-top {
  position: relative;
  display: block;
  width: 300px;
  height: 24px;
  background-color: #e8e8e8;
  border-bottom-left-radius: 7.2px;
  border-bottom-right-radius: 7.2px;
  opacity: 1;
  z-index: 2;
}
.pca-hold .pca-sub .pca-top:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMzAuMyIgaGVpZ2h0PSIxNjAiIHZpZXdCb3g9IjE5IDUgMTMwLjMgMTYwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDE5IDUgMTMwLjMgMTYwIj48dGl0bGU+TGF5ZXIgMTwvdGl0bGU+PHBhdGggZD0iTTEyNy44IDkwYy4yIDI0LjIgMjEuMiAzMi4zIDIxLjUgMzIuNC0uMi42LTMuNCAxMS41LTExLjEgMjIuOC02LjcgOS43LTEzLjYgMTkuNS0yNC41IDE5LjctMTAuNy4yLTE0LjItNi40LTI2LjQtNi40cy0xNi4xIDYuMi0yNi4yIDYuNmMtMTAuNS40LTE4LjUtMTAuNS0yNS4zLTIwLjMtMTMuNy0xOS45LTI0LjItNTYuMS0xMC4xLTgwLjYgNy0xMi4yIDE5LjUtMTkuOSAzMy4xLTIwLjEgMTAuMy0uMiAyMC4xIDcgMjYuNCA3IDYuMyAwIDE4LjItOC42IDMwLjYtNy4zIDUuMi4yIDE5LjkgMi4xIDI5LjMgMTUuOS0uOC4zLTE3LjUgMTAuMS0xNy4zIDMwLjNtLTIwLjEtNTkuNWM1LjYtNi44IDkuMy0xNi4yIDguMy0yNS41LTguMS4zLTE3LjggNS40LTIzLjYgMTIuMS01LjIgNi05LjcgMTUuNi04LjUgMjQuNyA5IC44IDE4LjItNC41IDIzLjgtMTEuMyIvPjwvc3ZnPg==);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.pca-hold .pca-sub .pca-mid {
  display: block;
  text-align: center;
  height: 24px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.pca-hold .pca-sub .pca-mid .pca-part {
  display: block;
  margin: 0 auto;
  border-bottom: 30px solid #cdcdcd;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 90px;
}
.pca-hold .pca-sub .pca-bot {
  position: relative;
  display: block;
  width: 120px;
  height: 9px;
  margin: 0 auto;
  background-color: #e8e8e8;
  border-radius: 6px 6px 0 0;
  opacity: 1;
  z-index: 2;
}

.dev-icons{
  cursor: pointer;
  padding: 10px;
}
.dev-icons:active {
  border: solid;
  border-radius: 20px;
}

.active-state {
  border: solid;
  border-radius: 20px;
  background: #00e676;
}

.dev-descript{
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  display: none;
}

footer {
  background-color: #00b248;
  color: #ffffff;
}


.b-ball {
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite; 
  animation-timing-function: linear;
  position: relative;
}

@-webkit-keyframes example {
    0%   {left:0px; top:0px; transform:rotate(0deg)}
    25%  {left:0px; top:-140px; transform:rotate(90deg)}
    50%  {left:0px; top:0px; transform:rotate(180deg)}
    75%  {left:0px; top:-120px; transform:rotate(270deg)}
    100% {left:0px; top:0px; transform:rotate(360deg)}
}

@keyframes example {
     0%   {left:0px; top:0px; transform:rotate(0deg)}
    25%  {left:0px; top:-140px; transform:rotate(90deg)}
    50%  {left:0px; top:0px; transform:rotate(180deg)}
    75%  {left:0px; top:-120px; transform:rotate(270deg)}
    100% {left:0px; top:0px; transform:rotate(360deg)}
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 40%;
      height: 500px;
      margin: auto;
  }
